<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion vh-100 overflow-auto" id="accordionSidebar">

    <!-- Sidebar - Brand -->


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <a href="/">
        <li class="nav-item active">
        <span class="nav-link text-center d-flex">
            <i class="fas fa-clock"></i>
            <span class="mx-3"><h6>Time Sheet</h6></span>
        </span>
        </li>
    </a>


    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <span class="nav-link text-center d-flex">
            <i class="fas fa-user"></i>
            <span class="mx-3">As Consultant</span></span>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item ">
        <a class="nav-link text-center d-flex" href="/login/changepassword">
            <i class="fas fa-lock"></i>
            <span class="mx-3">Change Password</span>
        </a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->